<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>CrowdOS</title>
  <link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="docs-css-js/css/style.css">
  <link rel="stylesheet" href="docs-css-js/css/prettify.css">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/img/favicon.png">
</head>
<body>
<nav>
  <div class="container">
    <h1>CrowdOS</h1>
    <div id="menu">
      <ul class="toplinks">
        <li><a href="index">Home</a></li>
        <li><a href="taskLists">Task lists</a></li>
        <li><a href="map">Heat map</a></li>
        <li><a href="visualization2">Statistics</a></li>
        <li><a href="mytasks">My tasks</a></li>
        <li><a href="#">Download</a></li>
      </ul>
    </div>
    <a id="menu-toggle" href="#" class=" ">&#9776;</a>
  </div>
</nav>
<header>
  <div class="container">
    <h2 class="docs-header">Task Documentation</h2>
  </div>
</header>
<section>
  <div class="container">
    <div class="docs-content">
      <div>
        <h3>Basic Information</h3>
        <ul id="BasicInformation">
        </ul>
      </div>

      <div>
        <h3>Restrictions</h3>
        <ul id="Restrictions">
        </ul>
      </div>

      <div>
        <h3>Content description</h3>
        <p id="Description"></p>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <p> &copy; CrowdOS</p>
  </div>
</footer>
<script src="docs-css-js/js/jquery.min.js"></script>
<script type="text/javascript" src="docs-css-js/js/prettify/prettify.js"></script>
<script src="docs-css-js/js/layout.js"></script>
<script src="docs-css-js/js/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
<script src="docs-css-js/js/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>
<script src="js/docs.js"></script>
</body>
</html>
